<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="JD" />
    <title>DSU Chat</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <style>
      img {
        max-height: 60vh;
        height: auto;
        width: auto;
      }
      
      .carousel-control-prev, .carousel-control-next {
        max-height: 75%;
      }
    </style>
     
  </head>

  <body class="d-flex flex-column h-100">
    <header class="p-2 fixed-top bg-success text-white bg-opacity-75">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <h1>DSU To Do</h1>
        </div>
      </div>
    </header>

    <main class="flex-shrink-0 my-5">
      <div class="container my-5">
        <% for(var i=0; i<arr_data.length; i++) {%>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Note</span>
                <input type="text" class="form-control" readonly class="form-control-plaintext" id="staticEmail" value='<%= arr_data[i] %>'>
                <form method="GET" action="/edit/<%= i %>">
                  <button type="submit" name="id" value="<%= i %>"  class="btn btn-warning btn-lg border-0 rounded-0">Modify</button>
                </form> 
                <form method="GET" action="/delete/<%= i %>?_method=delete">
                  <input type="hidden" name="_method" value="DELETE" name="id" value="<%= i %>" >
                  <button type="submit" name="id" value="<%= i %>"  class="btn btn-danger btn-lg border-0 rounded-0"">Delete</button>
                </form>
            </div>  
        <% } %>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-success text-white bg-opacity-75">
        <div class="container">
            <div class="input-group mb-3 d-flex flex-wrap align-items-center justify-content-center">
                <a class="btn btn-outline-light" type="button" id="button-addon1" href="/add" >Create</a>
            </div>
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          Copyright Telus <%= (new Date()).getFullYear() %>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
